<div ng-controller="BannerController" class="row">
  <div class="center-block" style="width:40%;">
    <span class="btn-group">
      <button ng-click="postType = toggle('twitter')" type="button" class="btn btn-default"> Twitter </button>
      <button ng-click="postType = toggle('instagram')" type="button" class="btn btn-default"> Instagram </button>
      <button ng-click="postType = toggle('soundcloud')" type="button" class="btn btn-default"> SoundCloud </button>  
    </span>
  </div>
</div>