<div ng-controller="HomeController" class="" style="background:url('static/views/img/event.jpeg'); background-size: cover; background-repeat: repeat;');height: 100%;">
  <div class="" style="">
    <div class="">
      <form class="">
        <input ng-model="username" type="text" placeholder="username">
        <input ng-model="password" type="password" placeholder="password">
        <button ng-click="logIn(username, password)">Log In</button>
        <button class="btn-primary" ng-click="signUp(username, password)">Sign Up</button>
      </form>
    </div>
  </div>
</div>
