<!DOCTYPE html> 
<html>
<head>
  <title>ONE</title>

  <!-- Styles -->
  <link rel="icon" href="{{ url_for('static', filename='views/img/favicon-32x32.png')}}" type="image/png" sizes="32x32">
  <link rel="icon" href="{{ url_for('static', filename='views/img/favicon-16x16.png')}}" type="image/png" sizes="16x16">
  <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="views/img/favicon.ico" type="image/x-icon">
  <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nv.d3.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
 <!--  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-switch.css') }}"> -->
</head>
<body>

  <main ng-app="app">
    <section ng-view></section>
  </main>

  <!--minified-->
<script src="{{ url_for('static', filename='tinyFiles/lib.min.js') }}"></script>
<script src="{{ url_for('static', filename='tinyFiles/app.min.js') }}"></script>
  <!-- Dependencies -->
<!--
  <script src="{{ url_for('static', filename='bower_components/angular/angular.js') }}" id='i'></script>
  <script src="{{ url_for('static', filename='bower_components/angular-route/angular-route.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bower_components/angular-sanitize/angular-sanitize.js') }}" id='i'></script>
  <script src="{{ url_for('static', filename='bower_components/d3/d3.js') }}" id='i'></script>
  <script src="{{ url_for('static', filename='bower_components/moment/moment.js') }}" id='i'></script>
--> 
  <!-- app dependencies -->
<!--
  <script src="{{ url_for('static', filename='js/nv.d3.min.js') }}" id='i'></script>
  <script src="{{ url_for('static', filename='js/directives/angular-pageslide-directive.js') }}"></script>
  <script src="{{ url_for('static', filename='tinyFiles/embed.min.js') }}"></script>
-->
  <!-- front end routing -->
<!--
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
--> 
  <!-- Factories -->
<!--
  <script src="{{ url_for('static', filename='js/factories/UsersFactory.js') }}"></script>
  <script src="{{ url_for('static', filename='js/factories/TwitterFactory.js') }}"></script>
  <script src="{{ url_for('static', filename='js/factories/InstagramFactory.js') }}"></script>
  <script src="{{ url_for('static', filename='js/factories/SoundCloudFactory.js') }}"></script>
  <script src="{{ url_for('static', filename='js/factories/SliderFactory.js') }}"></script>
  <script src="{{ url_for('static', filename='js/factories/RedditFactory.js') }}"></script>
  <script src="{{ url_for('static', filename='js/factories/panelFactory.js') }}"></script>
  <script src="{{ url_for('static', filename='js/factories/postTypeFactory.js') }}"></script>
--> 
  <!-- Filters -->
<!--
  <script src="{{ url_for('static', filename='js/filters/typeFilter.js') }}"></script>
-->  
  <!-- Controllers -->
<!--
  <script src="{{ url_for('static', filename='js/controllers/homeController.js') }}"></script>
  <script src="{{ url_for('static', filename='js/controllers/feedController.js') }}"></script>
  <script src="{{ url_for('static', filename='js/controllers/sliderController.js') }}"></script>
-->
  <!-- Poseidon Directive -->
<!--
  <script src="{{ url_for('static', filename='js/directives/poseidonDirective.js') }}"></script>
-->
</body>
</html>

