body {
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
}

header {
  position: fixed;
  width: 100%;
}

#feed {

}

.post {
  /*padding: 15px*/;
}

.formz {
  margin-top:40px;
  padding:15px;
}

