body {
  font-family: 'Dosis', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

header {
  width: 100%;
 border-bottom-style: solid;
  border-bottom-width: 2px;
}

.redditContainer {
  max-width: 100%; 

}

.pp {
  padding-left:10%;
  padding-right:10%;
  padding-bottom:10px;
}

.loader{
  padding-top: 100px;
}
.circle {
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-right: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 35px #2187e7;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    -moz-animation: spinPulse 1s infinite ease-in-out;
    -webkit-animation: spinPulse 1s infinite linear;
}

.circle1 {
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-left: 5px solid rgba(0,0,0,0);
    border-right: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 15px #2187e7;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    position: relative;
    top: -40px;
    -moz-animation: spinoffPulse 1s infinite linear;
    -webkit-animation: spinoffPulse 1s infinite linear;
}

@-moz-keyframes spinPulse {
    0% {
        -moz-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #2187e7;
    }

    50% {
        -moz-transform: rotate(145deg);
        opacity: 1;
    }

    100% {
        -moz-transform: rotate(-320deg);
        opacity: 0;
    };
}

@-moz-keyframes spinoffPulse {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    };
}

@-webkit-keyframes spinPulse {
    0% {
        -webkit-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #2187e7;
    }

    50% {
        -webkit-transform: rotate(145deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(-320deg);
        opacity: 0;
    }
}

@-webkit-keyframes spinoffPulse {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    };
}

.m0{
  margin: 0;
}

.p0{
  padding:0;
}
.dib{
  display:inline-block;
  /*float:right;*/
}

.fl-r {
  float: right;
}

.rs {
  right: 5px;
}

.h45 {
  height: 45px;
}

.w50 {
  width: 50%;
}

.w100 {
  width: 100%;
}

.mbxs {
  margin-bottom: .6rem;
}

.mbs {
  margin-bottom: 1.2rem;
}
.top-logo {
  top: 50%;
}


.footer-form {
  background: #f8f8f8;
  border-top-style: solid;
  border-top-width: 2px;
  border-color: #e7e7e7;
  position: fixed;
  bottom: 0;
  margin: 0;
}

.footer-form-input {
  border: 0;
  text-align: left;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #0074D9;
}

.footer-form-button {
  background: rgb(130, 224, 255);
  border: none;
  color: white;
  background-color: #0074D9; 
  border: 1px solid #002f86;
  /*padding: 10px;*/
}

.tweet-btn {
  background: rgb(130, 224, 255);
  color: white;
  background-color: #0074D9; 
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4285714;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}

.sidebar {
  padding: 10px;
}

.tracked-t {
  letter-spacing: .5em;
}

.tracked {
  letter-spacing: -.9em;
}

.pos-r {
  position: relative;
}

.home-page {
  position: absolute;
}

#feed {
  padding: 75px;
}

.black {
  color: #000;
}

.blue {
  color: #0074D9;
}

.mb0 {
  margin-bottom: 0;
}

.mt0 {
  margin-top: 0;
}

.vat {
  vertical-align: top;
}

.vab {
  vertical-align: bottom;
}

.vam {
  vertical-align: middle;
}

.f-ultra {
  font-size: 16rem;
}

.w10 {
  width: 10%;
}

.w20 {
  width: 20%;
}

.w33 {
  width: 33%;
}

.w39 {
  width: 39%;
}

.w40 {
  width: 40%;
}

.w100 {
  width: 100%;
  z-index: 1;
}

.f-mega {
  font-size: 8rem;
}

.f {
  font-size: 6rem;
}

.f1 {
  font-size: 4rem;
}

.f2 {
  font-size: 2rem;
}

.f2a {
  font-size: 1.75rem;
}

.f3 {
  font-size: 1rem;
}

.formz {
  margin-top: 40px;
  padding: 15px;
}

.home-img {
  height: 74rem;
}

.plxs {
  padding-left: .5rem;
}

.plxsm {
  padding-left: .75rem;
}

.pls {
  padding-left: 1rem;
}

.plm {
  padding-left: 2rem;
}

.plml {
  padding-left: 3rem;
}

.pll {
  padding-left: 4rem;
}

.plxl {
  padding-left: 6rem;
}

.plxlms {
  padding-left: 6.25rem;
}

.plxlm {
  padding-left: 6.5rem;
}

.plxxl {
  padding-left: 7rem;
}

.prs {
  padding-right: 1rem;
}

.prm {
  padding-right: 2rem;
}

.prml {
  padding-right: 3rem;
}

.prl {
  padding-right: 4rem;
}

.prxl {
  padding-right: 6rem;
}

.prxlms {
  padding-right: 6.25rem;
}

.prxlm {
  padding-right: 6.5rem;
}

.prxxl {
  padding-right: 7rem;
}

.ptxxs {
  padding-top: .25rem;
}

.ptxs {
  padding-top: .5rem;
}

.ptxsm {
  padding-top: .65rem;
}

.ptxsmm {
  padding-top: .75rem;
}

.ptsl {
  padding-bottom: .95rem;
}

.pts {
  padding-top: 1rem;
}

.ptsm {
  padding-top: 1.5rem;
}

.ptsmm {
  padding-top: 1.75rem;
}

.ptm {
  padding-top: 2rem;
}

.ptmm {
  padding-top: 2.35rem;
}

.ptl {
  padding-top: 4rem;
}

.pbxs {
  padding-bottom: .5rem;
}

.pbxsmm {
  padding-bottom: .60rem;
}

.pbxsm {
  padding-bottom: .75rem;
}

.pbsl {
  padding-bottom: .95rem;
}

.pbs {
  padding-bottom: 1rem;
}

.pbsm {
  padding-bottom: 1.5rem;
}

.pbsml {
  padding-bottom: 1.75rem;
}

.pbm {
  padding-bottom: 2rem;
}

.pbml {
  padding-bottom: 2.35rem;
}

.pbl {
  padding-bottom: .5rem;
}

.paxxs {
  padding: .25rem;
}

.paxs {
  padding: .5rem;
}

.paxsm {
  padding: .65rem;
}

.pasms {
  padding: .75rem;
}

.pas {
  padding: 1rem;
}

.pasm {
  padding: 1.25rem;
}

.pam {
  padding: 2rem;
}

.pal {
  padding: 6rem;
}

.paxxl {
  padding: 45rem;
}

#pie {
  padding-right: 20px;
}

.hxxxxl {
  height: 1435px;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

.tac {
  text-align: center;
}

.b-blue {
  border: 1px solid #0074D9;
}

.b-dark-blue {
  border: 1px solid #002f86;
}

.bg-white {
  background-color: #FFF;
}

.bg-grey {
  background-color: #CCC;
}

.bg-blue {
  background-color: #0074D9;
}

.bg-dark-blue {
  background-color: #325C86;
}

.header {
  position: fixed;
  background-color: #f8f8f8;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-color: #e7e7e7;
  margin: 0;
}

.white {
  color: #fff;
}

html {
  overflow-x: hidden;
}

.ng-pageslide {
  position: relative;
  padding-top: 50px;
  background: #333;
  color: #FFF;
}

body.ng-pageslide-body-open::before {
  content: '.';
  display: block;
  position: absolute;
  top: 0;
  background-color: rgb(0, 0, 0);
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0.5;
  transition: opacity 1s;
}

body.ng-pageslide-body-closed::before {
  transition: opacity 1s;
  opacity: 0;
  content: '.';
  display: block;
  position: absolute;
  top: 0;
  background-color: rgb(0, 0, 0);
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
}

#slideout {
  padding: 10px 0 100px 5px;
}

@media screen and (min-width: 100em) and (max-width: 120em) {
  .pl0-xl {
    padding-left: 0;
  }
  .top-xl {
    top: 37%;
  }
  .left-xl {
    left: 25%;
  }
}

@media screen and (min-width: 86em) and (max-width: 100em) {
  .pl0-lm {
    padding-left: 0;
  }
  .top-lm {
    top: 37%;
  }
  .left-lm {
    left: 25%;
  }
}

@media screen and (min-width: 69.5em) and (max-width: 86em) {
  .pl0-l {
    padding-left: 0;
  }
  .top-l {
    top: 35%;
  }
  .left-l {
    left: 25%;
  }
  .w49-l {
    width: 49%;
  }
  .w39-l {
    width: 39%;
  }
  .w35-l {
    width: 35%;
  }
  .w30-l {
    width: 30%;
  }
  .w15-l {
    width: 15%;
  }
  .w10-l {
    width: 10%;
  }
}

@media screen and (min-width: 60em) and (max-width: 69.5em) {
  .top-m {
    top: 25%;
  }
  .left-m {
    left: 20%;
  }
  .w15-m {
    width: 15%;
  }
  .w45-m {
    width: 45%;
  }
  .w39-m {
    width: 39%;
  }
  .w15-m {
    width: 15%;
  }
  .pll-m {
    padding-left: 4rem;
  }

}

@media screen and (min-width: 49em) and (max-width: 60em) {
  .pl0-sm {
    padding-left: 0;
  }
  .top-sm {
    top: 25%;
  }
  .left-sm {
    left: 15%;
  }
  .w39-sm {
    width: 39%;
  }
  .w35-sm {
    width: 35%;
  }
  .w30-sm {
    width: 30%;
  }
  .w25-sm {
    width: 25%;
  }
}


@media screen and (min-width: 36em) and (max-width: 49em) {
  .h55-s {
    height: 55px;
  }
  .prxs-s {
    padding-left: .5rem;
  }
  .pl0-s {
    padding-left: 0;
  }
  .top-s {
    top: 15%;
  }
  .left-s {
    left: 10%;
  }
  .width-s {
    width: 66%;
  }
  .tal-s {
    text-align: left;
  }
  .db-s {
    display: block;
  }
  .w100-s {
    width: 100%;
  }
  .w40-s {
    width: 40%;
  }
  .w35-s {
    width: 35%;
  }
  .w33-s {
    width: 33%;
  }
  .w30-s {
    width: 30%;
  }
  .w20-s {
    width: 20%;
  }
  .w15-s {
    width: 15%;
  }
  .w10-s {
    width: 10%;
  }
}

@media screen and (min-width: 27.5em) and (max-width: 36em) {
  .top-xxs {
    top: 10%;
  }
  .left-xxs {
    left: 5%;
  }
  .db-xxs {
    display: block;
  }
  .w100-xxs {
    width: 100%;
  }
  .w50-xxs {
    width: 50%;
  }
  .w40-xxs {
    width: 40%;
  }
  .w30-xxs {
    width: 30%;
  }
  .w25-xxs {
    width: 25%;
  }
  .w20-xxs {
    width: 20%;
  }
  .w15-xxs {
    width: 15%;
  }
  .w10-xxs {
    width: 10%;
  }
}

@media screen and (max-width: 27.5em) {
  .pl0-xxxs {
    padding-left: 0rem;
  }
  .plm-xxxs {
    padding-left: 2rem;
  }
  .pll-xxxs {
    padding-left: 4rem;
  }
  .plxl-xxxs {
    padding-left: 6rem;
  }
  .w50-xxxs {
    width: 50%;
  }
  .w30-xxxs {
    width: 30%;
  }
  .w20-xxxs {
    width: 20%;
  }
  .w15-xxxs {
    width: 15%;
  }
  .w10-xxxs {
    width: 10%;
  }
  .top-xxxs {
    top: 8%;
  }
  .left-xxxs {
    left: 3%;
  }
}


/*
@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .pl0-xs {
    padding-left: 0;
  }
  .top-xs {
    top: 20%;
  }
  .left-xs {
    left: 25%;
  }
  .tal-xs {
    text-align: left;
  }
}
*/
